 <!--
    .style16 {
      color: #FFFFFF
    }

    .style20 {
      font-size: 30px;
      font-style: italic;
    }

    a:link {
      text-decoration: none;
    }

    a:visited {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    a:active {
      text-decoration: none;
    }

    .style23 {
      color: #FFFFFF;
      font-size: 46px;
    }

    a.anchorstyle {
      text-align: center;
      color:red;
      width: 800px
    }
       .style26 {
      font-size: 16px
    }

.style1 {	font-size: 24px;
	font-weight: bold;
}